<ul v-for="item in dataTop">
                    <li><a :href="item.goodsClass.href">{{item.goodsClass.name}}</a>
                        <div class="top-show-goods">
                            <div class="goodall">
                                <a :href="item.goodsClass.goods.href">
                                    <div class="top-nav-goodsbox">
                                        <div class="imgs">
                                            <img :src="item.goodsClass.goods.imgsrc">
                                        </div>
                                        <p>{{item.goodsClass.goods.name}}</p>
                                        <p class="top-show-goods-prise">{{item.goodsClass.goods.price}}</p>
                                    </div>
                                </a>





                <ul v-for="item in dataTop">
                    <li><a :href="item.goodsClass.href">{{item.goodsClass.name}}</a>
                        <div class="top-show-goods">
                            <div class="goodall">
                                <a :href="item.goodsClass.goods.href">
                                    <div class="top-nav-goodsbox">
                                        <div class="imgs">
                                            <img :src="item.goodsClass.goods.imgsrc">
                                        </div>
                                        <p>{{item.goodsClass.goods.name}}</p>
                                        <p class="top-show-goods-prise">{{item.goodsClass.goods.price}}</p>
                                    </div>
                                </a>
                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米9pro.webp">
                                    </div>
                                    <p>小米9 pro 5G</p>
                                    <p class="top-show-goods-prise">3699</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米 MIX Alphe.webp">
                                    </div>
                                    <p>小米 MIX Alphe</p>
                                    <p class="top-show-goods-prise">19999</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米cc9.png">
                                    </div>
                                    <p>小米cc9</p>
                                    <p class="top-show-goods-prise">1499</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米cc9e.png">
                                    </div>
                                    <p>小米cc9e</p>
                                    <p class="top-show-goods-prise">1099</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米cc9 美图定制版.png">
                                    </div>
                                    <p>小米cc9 美图定制版</p>
                                    <p class="top-show-goods-prise">2199</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米9.png">
                                    </div>
                                    <p>小米9</p>
                                    <p class="top-show-goods-prise">2699</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="#">Redmi红米</a>
                        <div class="top-show-goods">
                            <div class="goodall">
                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/Redmi 8.webp">
                                    </div>
                                    <p>Redmi 8</p>
                                    <p class="top-show-goods-prise">799</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/Redmi 8a.webp">
                                    </div>
                                    <p>Redmi 8A</p>
                                    <p class="top-show-goods-prise">699</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/Redmi K20 Pro 尊享版.webp">
                                    </div>
                                    <p>Redmi K20 Pro 尊享版</p>
                                    <p class="top-show-goods-prise">2699</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/Redmi K20.jpg">
                                    </div>
                                    <p>Redmi K20</p>
                                    <p class="top-show-goods-prise">1999</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/Redmi Note 8 Pro.webp">
                                    </div>
                                    <p>Redmi Note 8 Pro</p>
                                    <p class="top-show-goods-prise">1399</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/Redmi Note 8.webp">
                                    </div>
                                    <p>Redmi Note 8</p>
                                    <p class="top-show-goods-prise">999</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="#">电视</a>
                        <div class="top-show-goods">
                            <div class="goodall">
                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/Redmi 红米电视 70英寸 870A.webp">
                                    </div>
                                    <p>Redmi 红米电视 70英寸 870A</p>
                                    <p class="top-show-goods-prise">3799</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米壁画电视 65英寸.jpg">
                                    </div>
                                    <p>小米壁画电视 65英寸</p>
                                    <p class="top-show-goods-prise">6999</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米电视4A 35英寸.png">
                                    </div>
                                    <p>小米电视4A 35英寸</p>
                                    <p class="top-show-goods-prise">699</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米电视4A 65英寸.jpg">
                                    </div>
                                    <p>小米电视4A 65英寸</p>
                                    <p class="top-show-goods-prise">2999</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米全面屏电视E55A.jpg">
                                    </div>
                                    <p>小米全面屏电视E55A</p>
                                    <p class="top-show-goods-prise">1799</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米电视4A 55英寸.jpg">
                                    </div>
                                    <p>小米电视4A 55英寸</p>
                                    <p class="top-show-goods-prise">1699</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="#">笔记本</a>
                        <div class="top-show-goods">
                            <div class="goodall">
                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/RedmiBook 14 增强版.webp">
                                    </div>
                                    <p>RedmiBook 14 增强版</p>
                                    <p class="top-show-goods-prise">3999</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米笔记本 15.6.png">
                                    </div>
                                    <p>小米笔记本 15.6</p>
                                    <p class="top-show-goods-prise">3599</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米笔记本Air 12.5.png">
                                    </div>
                                    <p>小米笔记本Air 12.5</p>
                                    <p class="top-show-goods-prise">3399</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米笔记本Air 13.3.png">
                                    </div>
                                    <p>小米笔记本Air 13.3</p>
                                    <p class="top-show-goods-prise">4499</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米笔记本Pro 15.6.png">
                                    </div>
                                    <p>小米笔记本Pro 15.6</p>
                                    <p class="top-show-goods-prise">4999</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/游戏本2019款.webp">
                                    </div>
                                    <p>游戏本2019款</p>
                                    <p class="top-show-goods-prise">7299</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="#">家电</a>
                        <div class="top-show-goods">
                            <div class="goodall">
                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/米家互联网空调C1（一级能效）.webp">
                                    </div>
                                    <p>米家互联网空调C1（一级能效）</p>
                                    <p class="top-show-goods-prise">2249</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/米家互联网空调 （一级能效）.png">
                                    </div>
                                    <p>米家互联网空调（一级能效）</p>
                                    <p class="top-show-goods-prise">2099</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/Redmi全自动波轮洗衣机1A.jpg">
                                    </div>
                                    <p>Redmi全自动波轮洗衣机1A</p>
                                    <p class="top-show-goods-prise">699</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/米家互联网烘洗一体机.png">
                                    </div>
                                    <p>米家互联网烘洗一体机</p>
                                    <p class="top-show-goods-prise">1899</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米净水器.jpg">
                                    </div>
                                    <p>小米净水器</p>
                                    <p class="top-show-goods-prise">1999</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/米家扫地机器人.jpg">
                                    </div>
                                    <p>米家扫地机器人</p>
                                    <p class="top-show-goods-prise">1499</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="#">路由器</a>
                        <div class="top-show-goods">
                            <div class="goodall">
                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米路由器AC2100.webp">
                                    </div>
                                    <p>小米路由器 AC2100</p>
                                    <p class="top-show-goods-prise">229</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米路由器Mesh.jpg">
                                    </div>
                                    <p>小米路由器Mesh</p>
                                    <p class="top-show-goods-prise">999</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米路由器4A 千兆版.jpg">
                                    </div>
                                    <p>小米路由器4A 千兆版</p>
                                    <p class="top-show-goods-prise">149</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米路由器4C.jpg">
                                    </div>
                                    <p>小米路由器4C</p>
                                    <p class="top-show-goods-prise">59</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米路由器 4A.jpg">
                                    </div>
                                    <p>小米路由器 4A</p>
                                    <p class="top-show-goods-prise">99</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米路由器.png">
                                    </div>
                                    <p>小米路由器 Pro</p>
                                    <p class="top-show-goods-prise">399</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="#">智能硬件</a>
                        <div class="top-show-goods">
                            <div class="goodall">
                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米万能遥控板.jpg">
                                    </div>
                                    <p>小米万能遥控板</p>
                                    <p class="top-show-goods-prise">149</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米小爱触屏音箱.jpg">
                                    </div>
                                    <p>小米小爱触屏音箱</p>
                                    <p class="top-show-goods-prise">249</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米手环.jpg">
                                    </div>
                                    <p>小米手环</p>
                                    <p class="top-show-goods-prise">129</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米米家智能门锁.jpg">
                                    </div>
                                    <p>小米米家智能门锁</p>
                                    <p class="top-show-goods-prise">1299</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米小爱老师.jpg">
                                    </div>
                                    <p>小米小爱老师</p>
                                    <p class="top-show-goods-prise">449</p>
                                </div>

                                <div class="top-nav-goodsbox">
                                    <div class="imgs">
                                        <img src="/images/小米米家智能摄像机云台版.jpg">
                                    </div>
                                    <p>小米米家智能摄像机云台版</p>
                                    <p class="top-show-goods-prise">199</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>